@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', 'sans-serif';
  --color-primary: #047857;
  --color-secondary: #059669;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
